<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.OfflineMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.Offline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="offlinrUserID" jdbcType="BIGINT" property="offlinruserid" />
    <result column="fatherUserID" jdbcType="BIGINT" property="fatheruserid" />
    <result column="isFather" jdbcType="TINYINT" property="isfather" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userID, offlinrUserID, fatherUserID, isFather, createTime
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.OfflineCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.OfflineCriteria">
    delete from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Offline">
    insert into t_offLine (id, userID, offlinrUserID, 
      fatherUserID, isFather, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{offlinruserid,jdbcType=BIGINT}, 
      #{fatheruserid,jdbcType=BIGINT}, #{isfather,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Offline">
    insert into t_offLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="offlinruserid != null">
        offlinrUserID,
      </if>
      <if test="fatheruserid != null">
        fatherUserID,
      </if>
      <if test="isfather != null">
        isFather,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.OfflineCriteria" resultType="java.lang.Long">
    select count(*) from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_offLine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.offlinruserid != null">
        offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="record.fatheruserid != null">
        fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="record.isfather != null">
        isFather = #{record.isfather,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_offLine
    set id = #{record.id,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      isFather = #{record.isfather,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Offline">
    update t_offLine
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        isFather = #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Offline">
    update t_offLine
    set userID = #{userid,jdbcType=BIGINT},
      offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      isFather = #{isfather,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.linjun.model.Offline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="offlinrUserID" jdbcType="BIGINT" property="offlinruserid" />
    <result column="fatherUserID" jdbcType="BIGINT" property="fatheruserid" />
    <result column="isFather" jdbcType="TINYINT" property="isfather" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userID, offlinrUserID, fatherUserID, isFather, createTime
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.OfflineCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.OfflineCriteria">
    delete from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Offline">
    insert into t_offLine (id, userID, offlinrUserID, 
      fatherUserID, isFather, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{offlinruserid,jdbcType=BIGINT}, 
      #{fatheruserid,jdbcType=BIGINT}, #{isfather,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Offline">
    insert into t_offLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="offlinruserid != null">
        offlinrUserID,
      </if>
      <if test="fatheruserid != null">
        fatherUserID,
      </if>
      <if test="isfather != null">
        isFather,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.OfflineCriteria" resultType="java.lang.Long">
    select count(*) from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_offLine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.offlinruserid != null">
        offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="record.fatheruserid != null">
        fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="record.isfather != null">
        isFather = #{record.isfather,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_offLine
    set id = #{record.id,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      isFather = #{record.isfather,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Offline">
    update t_offLine
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        isFather = #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Offline">
    update t_offLine
    set userID = #{userid,jdbcType=BIGINT},
      offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      isFather = #{isfather,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.linjun.model.Offline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="offlinrUserID" jdbcType="BIGINT" property="offlinruserid" />
    <result column="fatherUserID" jdbcType="BIGINT" property="fatheruserid" />
    <result column="isFather" jdbcType="TINYINT" property="isfather" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userID, offlinrUserID, fatherUserID, isFather, createTime
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.OfflineCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.OfflineCriteria">
    delete from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Offline">
    insert into t_offLine (id, userID, offlinrUserID, 
      fatherUserID, isFather, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{offlinruserid,jdbcType=BIGINT}, 
      #{fatheruserid,jdbcType=BIGINT}, #{isfather,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Offline">
    insert into t_offLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="offlinruserid != null">
        offlinrUserID,
      </if>
      <if test="fatheruserid != null">
        fatherUserID,
      </if>
      <if test="isfather != null">
        isFather,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.OfflineCriteria" resultType="java.lang.Long">
    select count(*) from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_offLine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.offlinruserid != null">
        offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="record.fatheruserid != null">
        fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="record.isfather != null">
        isFather = #{record.isfather,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_offLine
    set id = #{record.id,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      isFather = #{record.isfather,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Offline">
    update t_offLine
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        isFather = #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Offline">
    update t_offLine
    set userID = #{userid,jdbcType=BIGINT},
      offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      isFather = #{isfather,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.linjun.model.Offline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="offlinrUserID" jdbcType="BIGINT" property="offlinruserid" />
    <result column="fatherUserID" jdbcType="BIGINT" property="fatheruserid" />
    <result column="isFather" jdbcType="TINYINT" property="isfather" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userID, offlinrUserID, fatherUserID, isFather, createTime
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.OfflineCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.OfflineCriteria">
    delete from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Offline">
    insert into t_offLine (id, userID, offlinrUserID, 
      fatherUserID, isFather, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{offlinruserid,jdbcType=BIGINT}, 
      #{fatheruserid,jdbcType=BIGINT}, #{isfather,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Offline">
    insert into t_offLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="offlinruserid != null">
        offlinrUserID,
      </if>
      <if test="fatheruserid != null">
        fatherUserID,
      </if>
      <if test="isfather != null">
        isFather,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.OfflineCriteria" resultType="java.lang.Long">
    select count(*) from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_offLine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.offlinruserid != null">
        offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="record.fatheruserid != null">
        fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="record.isfather != null">
        isFather = #{record.isfather,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_offLine
    set id = #{record.id,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      isFather = #{record.isfather,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Offline">
    update t_offLine
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        isFather = #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Offline">
    update t_offLine
    set userID = #{userid,jdbcType=BIGINT},
      offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      isFather = #{isfather,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.linjun.model.Offline">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="offlinrUserID" jdbcType="BIGINT" property="offlinruserid" />
    <result column="fatherUserID" jdbcType="BIGINT" property="fatheruserid" />
    <result column="isFather" jdbcType="TINYINT" property="isfather" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userID, offlinrUserID, fatherUserID, isFather, createTime
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.OfflineCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_offLine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.OfflineCriteria">
    delete from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.Offline">
    insert into t_offLine (id, userID, offlinrUserID, 
      fatherUserID, isFather, createTime
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{offlinruserid,jdbcType=BIGINT}, 
      #{fatheruserid,jdbcType=BIGINT}, #{isfather,jdbcType=TINYINT}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.Offline">
    insert into t_offLine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="offlinruserid != null">
        offlinrUserID,
      </if>
      <if test="fatheruserid != null">
        fatherUserID,
      </if>
      <if test="isfather != null">
        isFather,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.OfflineCriteria" resultType="java.lang.Long">
    select count(*) from t_offLine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_offLine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.offlinruserid != null">
        offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="record.fatheruserid != null">
        fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="record.isfather != null">
        isFather = #{record.isfather,jdbcType=TINYINT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_offLine
    set id = #{record.id,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      offlinrUserID = #{record.offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{record.fatheruserid,jdbcType=BIGINT},
      isFather = #{record.isfather,jdbcType=TINYINT},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.Offline">
    update t_offLine
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="offlinruserid != null">
        offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      </if>
      <if test="fatheruserid != null">
        fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      </if>
      <if test="isfather != null">
        isFather = #{isfather,jdbcType=TINYINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.Offline">
    update t_offLine
    set userID = #{userid,jdbcType=BIGINT},
      offlinrUserID = #{offlinruserid,jdbcType=BIGINT},
      fatherUserID = #{fatheruserid,jdbcType=BIGINT},
      isFather = #{isfather,jdbcType=TINYINT},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>