<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linjun.dao.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.linjun.model.ShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsID" jdbcType="BIGINT" property="goodsid" />
    <result column="storeID" jdbcType="BIGINT" property="storeid" />
    <result column="userID" jdbcType="BIGINT" property="userid" />
    <result column="storeName" jdbcType="VARCHAR" property="storename" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsname" />
    <result column="memberPrice" jdbcType="REAL" property="memberprice" />
    <result column="number" jdbcType="BIGINT" property="number" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goodsID, storeID, userID, storeName, goodsName, memberPrice, number
  </sql>
  <select id="selectByExample" parameterType="com.linjun.model.ShoppingCartCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shoppingcart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_shoppingcart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.linjun.model.ShoppingCartCriteria">
    delete from t_shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.linjun.model.ShoppingCart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_shoppingcart (goodsID, storeID, userID, 
      storeName, goodsName, memberPrice, 
      number)
    values (#{goodsid,jdbcType=BIGINT}, #{storeid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{storename,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, #{memberprice,jdbcType=REAL}, 
      #{number,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.linjun.model.ShoppingCart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_shoppingcart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        goodsID,
      </if>
      <if test="storeid != null">
        storeID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="storename != null">
        storeName,
      </if>
      <if test="goodsname != null">
        goodsName,
      </if>
      <if test="memberprice != null">
        memberPrice,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="storeid != null">
        #{storeid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="storename != null">
        #{storename,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="memberprice != null">
        #{memberprice,jdbcType=REAL},
      </if>
      <if test="number != null">
        #{number,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linjun.model.ShoppingCartCriteria" resultType="java.lang.Long">
    select count(*) from t_shoppingcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_shoppingcart
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.goodsid != null">
        goodsID = #{record.goodsid,jdbcType=BIGINT},
      </if>
      <if test="record.storeid != null">
        storeID = #{record.storeid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userID = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.storename != null">
        storeName = #{record.storename,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsname != null">
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.memberprice != null">
        memberPrice = #{record.memberprice,jdbcType=REAL},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_shoppingcart
    set id = #{record.id,jdbcType=BIGINT},
      goodsID = #{record.goodsid,jdbcType=BIGINT},
      storeID = #{record.storeid,jdbcType=BIGINT},
      userID = #{record.userid,jdbcType=BIGINT},
      storeName = #{record.storename,jdbcType=VARCHAR},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      memberPrice = #{record.memberprice,jdbcType=REAL},
      number = #{record.number,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.linjun.model.ShoppingCart">
    update t_shoppingcart
    <set>
      <if test="goodsid != null">
        goodsID = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="storeid != null">
        storeID = #{storeid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        userID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="storename != null">
        storeName = #{storename,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="memberprice != null">
        memberPrice = #{memberprice,jdbcType=REAL},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linjun.model.ShoppingCart">
    update t_shoppingcart
    set goodsID = #{goodsid,jdbcType=BIGINT},
      storeID = #{storeid,jdbcType=BIGINT},
      userID = #{userid,jdbcType=BIGINT},
      storeName = #{storename,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      memberPrice = #{memberprice,jdbcType=REAL},
      number = #{number,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>